*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    justify-content: center;
}
h1{
    color: rgb(158, 112, 42);
}

.result{
    height: 55px;
    width: 250px;
    border: 5px solid black;
    border-radius: 8px;
}

.grid{
    display: grid;
    grid-template-columns: 50px 50px 50px 50px 50px;
    padding: 10px;
    
}

.grid > div{
    padding: 20px;
    background-color: black;
    color: white;
    border: 2px solid navajowhite;
    border-radius: 5px;
    margin-top: -6px;
    
}
#container{
    margin-top: 250px;
}

marquee{
    padding: 10px;
    background-color: rgb(158, 112, 42);
    font-weight: bold;
    font-size: 20px;
    margin-top: 20px;
    text-decoration: none;
    
    
